<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Log everything</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/require.js" data-main="scripts/main"></script>
    </head>
    <body>
        <header>
            <div class="container">
                    <h3 class="muted">@Html.ActionLink("LogIt!", "Index", "Home")</h3>
                <div class="pull-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                        @*<ul class="nav nav-pills pull-right">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>*@
                </div>
    </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="container">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>



@*        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/resten")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
